body {
 text-align: center; 
}

.line {
 width: 100%;
 height: 2px;
 background-color: #000; 
 margin: 20px 0; 
}

.gallery {
 display: flex;
 flex-wrap: wrap;       
 gap: 16px;           
 justify-content: center;
 padding: 20px;          
}

.gallery li {
 list-style: none;    
 width: calc(33.333% - 10px); 
 box-sizing: border-box; 
 display: flex;
 justify-content: center;
}

.gallery img {
 max-width: 100%;        
 height: auto;          
 border-radius: 8px;     
}
